<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.email %>!</h1>
    <p>
      Welcome to <a href="http://matthewgyang.com">matthewgyang.com</a>!<br>
    </p>
    <p>Have a great day!</p>
    <p>- Matt</p>
  </body>
</html>
