<div class="col-md-4 thing_container" id="<%= dom_id(article) %>">
  <a href="/articles/<%= article.id %>">
  <% if article.picture.present? %>
    <%= image_tag article.picture.url, class: "thing_pic" %>
  <% else %>
    <img src="https://s3.amazonaws.com/matthewgyang/images/headshot_square.png" alt="headshot">
  <% end %>
  <h3><%= article.title %></h3>
  </a>
</div>
