<div id="new_article_link" class="col-md-12">
  <h2>Blog Posts</h2>
  <% if policy(@articles).create? %>
    <h3><%= link_to 'New Post', new_article_path %></h3>
  <% end %>
</div>


  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>

<br />
