<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @article.author.email %>!</h1>
    <p>
      Your article titled <%= @article.title %> has a new comment!<br>
    </p>
    <p>

    </p>
    <p>Have a great day!</p>
  </body>
</html>
