<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @article.author.email %>!</h1>
    <p>
      Your article titled "<%= @article.title %>" at <a href="http://matthewgyang.com">matthewgyang.com</a> has a new comment!<br>
    </p>
    <p>
      <%= link_to 'View article', article_url(@article) %>
    </p>
    <p>Have a great day!</p>
    <p>- Matt</p>
  </body>
</html>
