<div id="about" class="container">
  <h3>About</h3>
  <a name="about"></a>
  <div class="col-md-8">
    <p>Welcome!  My name is Matt and I am a web developer currently enjoying the Ruby on Rails framework and working to expand my knowledge base on a daily basis.  After ten years in my previous field I am looking for a career change and am puting in the time and effort to make that dream a reality for my family and for myself.  Please feel free to <%= link_to "contact", '#contact' %> me for any reason!  Thank you!</p>
  </div>
  <div class="col-md-4">
    <%= image_tag 'headshot.jpg', id: "rubes" %>
  </div>
</div>
