<div class="row contact" NAME="contact">
  <hr>
  <div class="large-12 columns">
    <h4>Contact Me</h4>
    <div class="large-4 columns">
      <a href="mailto:matt@matthewgyang.com"><img src="https://s3.amazonaws.com/mattsblogbucket/webicon-mail.png" alt="email"></a>
    </div>
    <div class="large-4 columns">
      <a href="https://www.linkedin.com/in/matthewgyang"><img src="https://s3.amazonaws.com/mattsblogbucket/webicon-linkedin.png" alt="linkedin"></a>
    </div>
    <div class="large-4 columns">
      <a href="https://github.com/yang70"><img src="https://s3.amazonaws.com/mattsblogbucket/webicon-github.png" alt="github"></a>
    </div>
  </div>

  <div class="large-12 columns">
    <div class="large-4 columns">
      <strong>
        <a href="mailto:matt@matthewgyang.com" >matt@matthewgyang.com</a>
      </strong>
    </div>
    <div class="large-4 columns">
      <strong>
        <a href="https://www.linkedin.com/in/matthewgyang" >LinkedIn</a>
      </strong>
    </div>
    <div class="large-4 columns">
      <strong>
        <a href="https://github.com/yang70" >Github</a>
      </strong>
    </div>
  </div>
</div>
