<div id="contact-container" class="container">
  <div class="icon-container icon-secondary" id="contact-icon">
    <i class="fa fa-mail-reply-all fa-3x">Contact</i>
  </div>
  <a name="contact"></a>
  <div class='col-md-6 footer-pics'>
    <ul class="social-network social-circle">
      <li><a href="mailto:matt@matthewgyang.com" target="_blank" class="icoEnvelope grey" title="Envelope"><i class="fa fa-envelope"></i></a></li>
      <li><a href="https://github.com/yang70" target="_blank" class="icoGithub grey" title="GitHub"><i class="fa fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/matthewgyang" target="_blank" class="icoLinkedin grey" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://twitter.com/yang70" target="_blank" class="icoTwitter grey" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    </ul>
    <p>Built with Ruby on Rails.  For full source and all technologies used see <a href="https://github.com/yang70/portfolio" target="_blank">github.com/yang70/portfolio</a></p>
    <a href="http://rubyonrails.org/"><img src="https://s3.amazonaws.com/matthewgyang/images/rails_logo.png" alt="rails-logo" /></a>
    <img src="https://travis-ci.org/yang70/portfolio.svg?branch=master" alt="travis-logo" />
    <a href='https://coveralls.io/github/yang70/portfolio?branch=master'><img src='https://coveralls.io/repos/yang70/portfolio/badge.svg?branch=master&service=github' alt='Coverage Status' /></a>
    <hr />
  </div>
  <div class='col-md-6'>
    <div id='twitter-container'>
      <a class="twitter-timeline" href="https://twitter.com/yang70" data-widget-id="676454508264755200">Tweets by @yang70</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <hr>
</div>
