<hr>
<div class="container">
  <h4>Contact</h4>
  <a name="contact"></a>
  <ul class="social-network social-circle">
    <li><a href="mailto:matt@matthewgyang.com" target="_blank" class="icoEnvelope grey" title="Envelope"><i class="fa fa-envelope"></i></a></li>
    <li><a href="https://github.com/yang70" target="_blank" class="icoGithub grey" title="GitHub"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/matthewgyang" target="_blank" class="icoLinkedin grey" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
  </ul>
</div>
