<div class="row work">
  <hr>
  <div class="large-12 columns">
    <h4>Projects</h4>
    <p>Click on each image to view</p>

    <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
      <li>
        <a href=<%= image_path "wine_cellar_screenshot" %>>
          <img data-caption="A wine tracking app built with Ruby on Rails" src=<%= image_path "wine_cellar_screenshot" %>>
        </a>
      </li>
      <!-- <li>
        <a href="http://placehold.it/550x300"><img data-caption="caption 2 here..." src="http://placehold.it/550x300"></a>
      </li> -->
    </ul>
  </div>
</div>
