<h1>Welcome!</h1>
<h2>This is the profile page for Matthew G. Yang</h2>
<p>Here is a short list of why you should hire me!</p>
<ul>
  <li>I'm highly motivated to learn,
                        as demonstrated by my enrollment in Code Fellows.</li>
  <li>I learn quickly and am am self motivated.</li>
  <li>Although in an unrelated field, I have a bachelor's degree from
                                             the University of Washington</li>
  <li>I am loyal to my employer, as evidenced by my working for my last
                                               employer for over 10 years</li>
</ul>
