<div class="col-md-4 thing_container" id="<%= dom_id(project) %>">
  <a href="/projects/<%= project.id %>">
    <% if project.image_url.present? %>
      <%= image_tag project.image_url , class: "thing_pic" %>
    <% else %>
      <img class="thing_pic" src="https://s3.amazonaws.com/matthewgyang/images/headshot_med.png" alt="headshot">
    <% end %>
    <h3><%= project.name %></h3>
  </a>
</div>
