<div id="new_project_link" class="col-md-12">
  <h2>Portfolio</h2>
  <% if policy(@projects).create? %>
    <div id="new_div">
      <h3 id="new_link"><%= link_to 'New project', new_project_path, remote: true %></h3>
    </div>
  <% end %>
</div>

<div id="projects_list">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</div>
<br />
