/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 50px;
}
/*
#content {
  margin-top: 40px;
}

.container {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}

#checkbox1 {
  margin-left: 20px;
}

.field {
  width: 500px;
  margin: 20px;
}

.actions {
  margin: 20px;
}

ul {
  list-style: none;
}

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
   float: left;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}*/

pre {
  background: #002A35!important;
  color: #93A1A1!important;
}

code {
  background-color: #c4c4c4;
  color: black;
}

.notice {
  height: 40px;
  background-color: #8cf76f;
}
