// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thing_pic {
  height: 173px;
  width: 200px;
  cursor: default;
}

// .thing_pic:hover {
//   opacity: .5;
// }

.project_pic {
  height: 173px;
  width: 200px;
  cursor: default;
  display: block;
}

// .project_pic:hover {
//   opacity: .5;
// }

.thing_container:hover img {
  opacity: .5;
}

.thing_container:hover .description {
  opacity: 0;
}

.thing_container:hover .hover-description {
  opacity: .8;
}

.hover-description {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  text-align: left;
}

.hover-description hr {
  margin-top: 2px;
  margin-bottom: 5px;
}

.hover-description p {
  margin-bottom: 0;
}

.hover-title {
  font-size: 15px;
}

.thing_container {
  text-align: center;
  margin-top: 30px;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
  background-color: white;
  height: 173px;
  width: 200px;
  padding: 0;
  position: relative;
}

.description {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 0.6;
}

.description-content {
  padding: 10px;
  margin: 0px;
  text-align: left;
}

// .hovered {
//   top: -10px;
// }

.thing_container h3, .thing_container h4 {
  margin-top: 5px;
  color: black;
}

.thing_container a {
  text-decoration: none;
}

#new_article_link {
  text-align: center;
}

.show_pic {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  display: block;
}

.show_thing {
  display: block;
}

.show_thing h3, .show_thing h4 {
  text-align: center;
}

.show_thing div {
  text-align: center;
}
