<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <p>Modified from a <a href="http://foundation.zurb.com/index.html">Zurb Foundation theme.</a></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
        </ul>
      </div>
    </div>
  </div>
</footer>
