<footer>
  <div class="col-md-12">
    <hr>
    <% if current_user %>
      <p><strong>Logged in as: </strong><%= current_user.email %>. <strong>Role: </strong><%= current_user.role %></p>
    <% end %>
  </div>
</footer>
